/***********************
GENERAL
***********************/

/* * {
  border: 1px solid red;
} */

html {
  text-size-adjust: 100%;
  height: 100%;
}

body {
  margin: 0;
  font: 16px / 1 sans-serif;
  color: #4a4a4a;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

/***********************
HEADER & NAVIGATION
***********************/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 5px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  border-top: 3px solid red;
  width: 80%;
  padding: 10px 0;
}

nav img {
  height: 20px;
  padding-right: 40px;
}

nav li a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

nav a:link,
a:visited {
  color: #4a4a4a;
}

nav a:focus,
a:hover,
a:active {
  color: red;
}

.logo {
  background-image: url('img/designco-logo.png');
  background-repeat: no-repeat;
  background-size: 7em;
  color: transparent;
  width: 10em;
}

/***********************
HEADING
***********************/
h1,
h2 {
  font-family: 'Roboto', sans-serif;
  display: block;
  margin: 0 auto;
  width: 65%;
}

h1 {
  font-weight: 700;
  font-size: 2.1em;
  margin: 50px auto 10px;
}

h2 {
  font-style: italic;
  font-size: 1.25em;
  margin-bottom: 50px;
  line-height: 1.25em;
}

section div {
  text-align: center;
}

/***********************
GALLERY
***********************/

section li {
  margin: 0;
}

section.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 500px;
  margin: 20px;
}

section.gallery .left {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 600px;
  height: 250px;
  margin: 5px;
  padding: 0;
  overflow: hidden;
}

section.gallery .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  padding-left: 0;
  margin: 0;
}

.bl-spacing {
  padding-right: 5px;
}

.tr-spacing {
  padding-bottom: 4px;
}

/***********************
FOOTER
***********************/
footer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  max-width: 800px;
  height: 200px;
}

footer div {
  padding: 0 10px 0 0;
  text-align: left;
  flex: 1;
}

footer h3 {
  color: red;
  margin: 0;
}

span {
  color: #4a4a4a;
}

footer a:link,
a:visited {
  color: #4a4a4a;
}

footer a:focus,
a:hover,
a:active {
  color: red;
}
